.card img {
  max-height: 150px;
  max-width: 100px;
}

.card-text {
  color: dimgrey;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

.tbody-wrap {
  background-color: lightblue;
  min-height:1000px;
}

/*body {*/
    /*background-image:  url("/images/pattern.jpg");*/
/*}*/


body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
#particles-js canvas {
  position: absolute;
  background: #262622;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.content{
  position: absolute;
  top: 50%;
  max-width: 500px;
  margin: auto;

}