<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div class="content">
    <div class="card-body centre" style="display: inline-block">
        <a href="/pa-recruitment/pipeline"> Go to pipeline.</a>
    </div>
    <div class="card-body centre" style="display: inline-block">
        <a href="/pa-recruitment/addCandidate"> Add a candidate.</a>
    </div>
    <div class="card-body centre" style="display: inline-block">
        <a href="/pa-recruitment/addJobProfile"> Add a Job profile.</a>
    </div>
</div>

<div id="particles-js"></div>

<script type="text/javascript" src="/javascripts/particles.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>